@import '../../../assets/styles/media.scss';

.header {
  position: relative;

  a {
    color: #000000;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 30px 100px 30px 54px;
  }

  &__logo {
    font-family: var(--font-family-other);
    font-weight: 700;
    font-size: 34px;
    display: flex;
    gap: 5px;
  }

  &__nav-list,
  &__actions-list {
    display: flex;
    height: 39px;
    align-items: center;
    gap: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__nav-list {
    gap: 75px;
    font-weight: 500;
    
    @media (width <= 1160px) {
      gap: 50px;
    }
    
  }

  &__burger {
    display: none;
  }

  &__overlay {
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;
    background: white;
    padding-top: 40px;
    padding-bottom: 20px;
    z-index: 1000;

    &-nav {
      &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 100px;
      }
    }

    &-nav-item {
      font-size: 20px;
      font-weight: 500;
      padding: 10px;
    }

  }

  @include tablet {

    &__nav {
      display: none;
    }

    &__actions {
      margin-left: auto;
      padding-right: 60px;
      align-items: center;
    }

    &__burger {
      display: flex;
      align-items: center;
      align-self: center;
    }
  }
}