.button {
  font-family: var(--font-family-base);

  &-yellow {
    background-color: var(--color-yellow);
    color: var(--color-white-1);
  }

  &-white-yellow {
    background-color: var(--color-white);
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);

  }

  &-hero {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding-block: 25px;
    padding-inline: 72px;
  }

  &-our-products {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    padding-block: 12px;
    padding-inline: 78px;
  }

  &-inspiration {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    padding-block: 12px;
    padding-inline: 36px;
  }

  &-header-action{
    width: 34px;
    height: 34px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-carousel-slide {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
  }

  &-input {
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-black);

    border-bottom: 1px solid var(--color-black);
    padding-bottom: 3px;
  }
}