@import '../../../assets/styles/media.scss';

.button {
  font-family: var(--font-family-base);
  display: flex;
  align-items: center;
  justify-content: center;

  &-yellow {
    background-color: var(--color-yellow);
    color: var(--color-white-1);
  }

  &-light-yellow {
    background-color: #F9F1E7;
    color: var(--color-black);
  }

  &-white-yellow {
    background-color: var(--color-white);
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
  }

  &-white {
    background-color: var(--color-white-1);
    color: var(--color-yellow);
  }

  &-transparent {
    background: transparent;
  }

  &-transparent-border {
    background: transparent;
    border: 1px solid #000;
  }

  &-banana {
    background-color: #F9F1E7;
    color: var(--color-black);
  }

  &-hero {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding-block: 25px;
    max-width: 222px;
  }

  &-our-products {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    padding-block: 12px;
    padding-inline: 78px;
  }

  &-inspiration {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    padding-block: 12px;
    padding-inline: 36px;
  }

  &-carousel-slide {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
  }

  &-input {
    max-width: 178px;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-black);

    border-bottom: 1px solid var(--color-black);
    padding-bottom: 3px;

    @include tablet {
      border: 1px solid var(--color-black);
      padding-block: 10px;
      font-size: 12px;
    }
  }

  &-filter {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-black);

    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
  }

  &-shop-card {
    height: 60px;
    display: flex;
    align-items: center;
    padding-inline: 25px;
    border-radius: 10px;
    min-width: 60px;
  }

  &-add-to-cart {
    padding-block: 12px;
    width: 202px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #E89F71;
  }

  &-product-card-other {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    gap: 2px;
  }

  &-product-size {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;
  }

  &-product-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &-product-action {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    border: 1px solid #000;
    border-radius: 15px;

    padding-inline: 47px;
    padding-block: 17px;
  }

  &-slider-draft {
    border-radius: 100%;
    fill: var(--color-white);
    box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
    width: 48px;
    height: 48px;
  }
}