.footer {
  border-top: 1px solid #d9d9d9;

  a {
    color: var(--color-black);
  }

  &__inner {
    display: flex;
    flex-direction: row;
    padding-block: 48px;
    border-bottom: 1px solid #d9d9d9;
    column-gap: 120px;
  }

  &__logo {
    gap: 5px;
    font-family: var(--font-family-other);
    font-weight: 700;
    font-size: 34px;
  }

  &__address {
    margin-top: 50px;
    color: #9f9f9f;
  }

  &__copyright {
    padding-block: 38px;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-black);
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;

    &-column {
      max-width: 180px;
    }

    &-title {
      font-weight: 500;
      font-size: 16px;
      color: #9f9f9f;
      margin-bottom: 54px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 46px;
    }

    &-link {
      font-weight: 500;
      font-size: 16px;
    }
  }
}