.input {
  &__form {
    display: flex;
    flex-direction: row;
    column-gap: 11px;
  }

  &__field {
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;

    border-bottom: 1px solid #000;
    padding-bottom: 3px;

  }
}