@import '../../../assets/styles/media.scss';

.input {
  &__form {
    display: flex;
    flex-direction: row;
    column-gap: 11px;

    @include tablet {
      flex-direction: column;
      gap: 20px;
    }

  }

  &__field {
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-gray-1);

    border-bottom: 1px solid #000;
    padding-bottom: 3px;

    @include tablet {
      width: 178px;
    }

  }
}