@use 'variables';
@use 'fonts';

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-gray-2);
  background-color: var(--color-white);
}

h1, .h1 {
  font-size: 48px;
  font-weight: 700;
}

h2, .h2 {
  font-size: 40px;
  font-weight: 700;
}

h3, .h3 {
  font-size: 32px;
  font-weight: 700;
}

h4, .h4 {
  font-size: 24px;
  font-weight: 600;
}

h5, .h5 {
  font-size: 20px;
  font-weight: 500;
}

h6, .h6 {
  font-size: 18px;
  font-weight: 600;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
  color: var(--color-black);
}

a:hover  {
  text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type='file'] {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
