@import './media.scss';
:root {
  --color-white-1: #FFFFFF;
  --color-white-2: #FCF8F3;
  --color-gray-1: #9F9F9F;
  --color-gray-2: #666666;
  --color-gray-3: #616161;
  --color-gray-4: #3A3A3A;
  --color-gray-5: #333333;
  --color-black: #000000;
  --color-yellow: #B88E2F;
  --color-banana: #FFF3E3;

  --font-family-base: 'Poppins', sans-serif;
  --font-family-other: 'Montserrat', sans-serif;

  --container-padding-x: 100px;
  --container-width: 1240px;

  @include tablet {
    --container-padding-x: 80px;
  }

  @include mobile {
    --container-padding-x: 50px;
  }
}