.advantage {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: #242424;
  }

  &__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #898989;
  }
}